@font-face {
	font-family: 'Myriad Pro';
	src: url('./MYRIADPRO-REGULAR.OTF');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('./MYRIADPRO-BOLD.OTF');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('./MYRIADPRO-SEMIBOLD.OTF');
	font-weight: 600;
	font-style: normal;
}
