@import './reset.css';
@import './theme.css';
@import '../fonts/stylesheet.css';

body {
    background-color: #fbfcfd;

}

.wrapper {
    padding-top: 20px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.block {
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px var(--pale-grey);
    background-color: #fff;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7px;
    font-size: 14px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    transition: .2s;
}

.btn_blue {
    background-color: #2f8cff;
}

.btn_blue:hover {
    background-color: #2781ee;
}


@media (max-width: 539px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .wrapper {
        padding-top: 12px;
    }
    body {
        background: #fff;
    }
}