@import './reset.css';
@import './theme.css';
@import '../fonts/stylesheet.css';

body {
    background-color: #fbfcfd;
}

.wrapper {
    padding-top: 20px;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.block {
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px var(--pale-grey);
    background-color: #fff;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 14px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #2f8cff;
}